RABBIT_LOGIN = 'quest'
RABBIT_PASSWORD = 'quest'
RABBIT_HOST = 'rabbitmq'
RABBIT_PORT = '5672'
RABBIT_VHOST = '/'

DBROOT = 'sqlite:///example.db'

TASKS_NUMBER = '5'

MODEL_PATH = './src/models'
FILES_PATH = './src/files'