RABBIT_LOGIN = 'quest'
RABBIT_PASSWORD = 'quest'
RABBIT_HOST = 'rabbitmq'
RABBIT_PORT = '5672'
RABBIT_VHOST = '/'

DBROOT = 'sqlite:///example.db'

WORKERS_NUMBER = '5'
TASKS_IN_WORKER = '2'

MODEL_PATH = './models'
FILES_PATH = './src/files'